            <footer class="site-footer">
              <div class="container">
                <div class="wrap">
                  <div class="logo">
                    <img src="img/logo_otc.png" alt="OTC">
                  </div>
                  <div class="footer-info">
                    <div class="copyright">2016 ©, ПАО «Отисифарм», 123317, г. Москва, ул. Тестовская, д. 10, <a href="mailto:info@otcpharm.ru">info@otcpharm.ru</a></div>
                    <ul class="links">
                      <li><a href="#">Сообщить о нежелательном явлении</a></li>
                      <li><a href="#">Карта сайта</a></li>
                    </ul>
                  </div>
                </div>
                <p class="contraindications"><span>Имеются противопоказания. Необходимо проконсультироваться со специалистом <svg class="icon icon-eye"><use xlink:href="#icon-eye"></use></svg></span></p>
              </div>
            </footer>

            <div class="overlay"></div>

        <script src="https://use.fontawesome.com/4d7b082d35.js"></script>
        <script src="js/external.js"></script>
        <script src="js/internal.js"></script>
