                  <nav class="main-menu">
                    <form class="search-block">                    
                      <button type="submit" class="btn-search"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg></button>
                      <input type="search" placeholder="Поиск по сайту…">
                    </form>
                    <button type="button" name="button" class="icon icon-menu show-overlay icon-menu-hd" data-toggle=".main-menu">
                      <span class="title">Меню</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    @@include('_menu.html')
                  </nav>
                  <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                  </ul>
                  <button type="button" name="button" class="icon icon-menu show-overlay" data-toggle=".main-menu">
                    <span class="title">Меню</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
              </div>
          </header>
