                  <nav class="main-menu">
                    @@include('_menu.html')
                  </nav>
                  <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                  </ul>
                  <button type="button" name="button" class="icon icon-menu show-overlay" data-toggle=".main-menu">
                    <span class="title">Меню</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
              </div>
          </header>
