<ul>
  <li class="has-childs">
    <a href="#">О препарате</a>
    <ul class="sub-menu">
      <li><a href="#">Выбор форм для взрослых</a></li>
    </ul>
  </li>
  <li class="has-childs">
    <a href="#">Инструкция</a>
    <ul class="sub-menu">
      <li><a href="#">Капсулы 200</a></li>
      <li><a href="#">Капсулы 100</a></li>
      <li><a href="#">Суспензии</a></li>
      <li><a href="pills-50.html">Таблетки 50</a></li>
    </ul>
  </li>
  <li class="has-childs">
    <a href="#">Для взрослых</a>
    <ul class="sub-menu">
      <li><a href="adult_forms.html">Выбор форм для взрослых</a></li>
      <li><a href="#">Арбидол Максимум</a></li>
      <li><a href="#">Грипп и ОРЗ у взрослых</a></li>
      <li><a href="#">Грипп и ОРЗ у взрослых</a></li>
      <li><a href="#">Группы риска по развитию осложнений</a></li>
    </ul>
  </li>
  <li class="has-childs">
    <a href="#">Для детей</a>
    <ul class="sub-menu">
      <li><a href="#">Выбор форм для взрослых</a></li>
    </ul>
  </li>
  <li class="has-childs">
    <a href="#">О болезнях</a>
    <ul class="sub-menu">
      <li><a href="#">Выбор форм для взрослых</a></li>
    </ul>
  </li>
  <li class="has-childs">
    <a href="#">Специалистам</a>
    <ul class="sub-menu">
      <li><a href="professionals.html">Специалистам</a></li>
    </ul>
  </li>
  <li><a href="faq.html">Вопрос-ответ</a></li>
</ul>
