.btn {
  font-family: $font-family-second;
  font-size: 16px;
  padding: 14px 23px;
  text-decoration: none !important;
  @include transition(all .3s ease);

  &-default {
    background: $btn-default-bg;
    border: 2px solid #fff;
    color: $main-color;
    font-size: 24px;
    line-height: 24px;

    &:hover {
      background: $main-color;
      border: 2px solid #fff;
      color: #fff;
    }
  }
  &-primary {

  }
  @for $btn from 20 through 90 {
    @if $btn % 2 == 0 {
      &.btn-#{$btn} {
        padding-left: $btn#{'px'};
        padding-right: $btn#{'px'};

        &-md {
          @media screen and (min-width: $screen-md) {
            padding-left: $btn#{'px'};
            padding-right: $btn#{'px'};
          }
        }
        &-sm {
          @media screen and (max-width: $screen-sm-max) {
            padding-left: $btn#{'px'};
            padding-right: $btn#{'px'};
          }
        }
        &-xs {
          @media screen and (max-width: $screen-xs-max) {
            padding-left: $btn#{'px'};
            padding-right: $btn#{'px'};
          }
        }
      }
    }
  }
}
