.icon {
  cursor: pointer;
  @include transition(all .3s ease);

  &-menu {
    position: relative;
    top: 3px;
    left: 10px;
    z-index: 25;
    border: 0;
    background: transparent;
    padding: 0;
    min-width: 40px;

    &:hover {
      .icon-bar {
        background: lighten($main-color, 10%);
      }
    }
    .title {
      font-family: $font-family;
      position: absolute;
      top: 2px;
      right: 100%;
      padding-right: 15px;
      font-size: 12px;
      font-weight: 700;
      color: $main-color;
      text-transform: uppercase;
      letter-spacing: 3px;

      @include transition(all .3s ease);
    }
    .icon-bar {
      display: block;
      width: 30px;
      height: 3px;
      margin-bottom: 6px;
      background: $main-color;
      border-radius: 6px;

      @include transition(all .3s ease);
    }
  }
  &-cross {
    max-width: 42px;
    max-height: 30px;
    color: #3C3C3C;

    &:hover {
      color: lighten(#3C3C3C, 10%);
    }
  }
  &-eye {
    max-width: 25px;
    max-height: 25px;
    margin-left: 10px;
  }
  &-quote {
    max-width: 100px;
    max-height: 74px;
    color: #fff;
  }
  &-pdf {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    padding: 0px 2px;
    border: 2px solid $main-color;
    color: $main-color;
    border-radius: 5px;
    margin: 0 7px 0 0;
  }
  &-search {
    max-width: 30px;
    max-height: 30px;
  }
}
