.site {
  &-header {
    padding: 18px 0;

    .container {
      max-width: 1310px;
      @include flexbox();
      @include align-items(center);
    }
    .logo {
      a {
        display: block;
        font-family: $font-family-second;
        color: #cc0430;
        position: relative;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 700;
        font-style: italic;
        position: relative;
        top: 2px;

        .main {
          min-width: 160px;
          display: inline-block;
          position: relative;
          z-index: 18;
        }
        .shadow {
          min-width: 160px;
          position: absolute;
          left: 0.5px  ;
          top: 0.5px;
          z-index: 17;
          color: #fff;
          text-shadow: 2px 2px rgba(18,89,162,1);
        }
      }
    }
  }
  &-footer {
    margin-top: 50px;
    padding-bottom: 70px;
    @include transition(all .4s ease);

    &.hide-text {
      padding-bottom: 10px;

      .contraindications {
        bottom: -150px;
      }
    }
    .wrap {
      padding-top: 14px;
      padding-bottom: 14px;
      border-top: 1px solid #DADADA;
      @include flexbox();
      @include align-items(center);
    }
    .logo {
      margin: 0 15px 0 0;
    }
    .contraindications {
      height: 70px;
      padding-top: 10px;
      margin-bottom: 0;
      pointer-events: none;

      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 8;
      background: #fff;
      @include transition(bottom .4s ease);

      .border-line {
        position: relative;
        top: -35px;
        padding-top: 35px;
        overflow: hidden;
        width: 100%;
        height: 105px;
        display: block;
      }
      .text-line {
        display: block;
        font-family: $font-family-second;
        font-weight: 300;
        font-size: 1.8vw;
        text-transform: uppercase;
        color: #9a9b9d;
        position: relative;
        top: 5px;

        max-width: 1320px;
        margin: 0 auto;
        padding-left: 5px;
        padding-right: 15px;

        @include opacity(.8);

        .icon-eye {
          position: absolute;
          top: 5px;
          right: 15px;
          cursor: pointer;
          pointer-events: all;
          @include scale(2,2);

          &:hover {
            color: lighten($main-color, 20%);

            ~ .info {
              top: -38px;
              @include opacity(1);
            }
          }
        }
      }
      .info {
        position: absolute;
        top: 40px;
        right: -15px;
        padding: 5px 10px;
        background: #fff;
        font-size: 14px;
        font-weight: 500;
        z-index: 1;
        pointer-events: none;
        color: lighten($main-color, 20%);
        @include transition(all .4s ease);
        @include opacity(0);
      }
      .text {
        font-family: $font-family-second;
        font-weight: 300;
        color: #9a9b9d;
        @include opacity(.6);
        @include scale(1,30);
      }

    }
    .copyright {
      font-size: 12px;
      color: #0b0b0b;

      a {
        color: #0b0b0b;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
    .links {
      li {
        margin-left: 20px;

        a {
          color: #9a9b9d;
          font-size: 12px;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .footer-info {
      width: 100%;
      @include flexbox();
      @include align-items(center);

      .links {
        text-align: right;
        margin: 0 0 0 auto;

        li {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}
.main {
  &-menu {
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 50%;
    height: 100vh;
    overflow: auto;
    background: $main-color;
    padding: 100px 90px 100px 30px;
    z-index: 17;
    @include transition(all .5s ease);

    &.active {
      right: 0;

      ~ .icon-menu,
      .icon-menu {
        .title {
          color: #fff;
        }
        .icon-bar {
          background-color: #fff;

          &:nth-child(2) {
            position: relative;
            top: 7px;
            width: 35px;
            @include rotate(-45deg);
          }
          &:nth-child(3) {
            @include opacity(0);
          }
          &:nth-child(4) {
            position: relative;
            top: -11px;
            width: 35px;
            @include rotate(45deg);
          }
        }
      }
    }
    li {
      margin-bottom: 13px;
      border-bottom: 1px solid rgba(255,255,255,.3);

      &.has-childs {
        position: relative;

        &.active {
          .sub-menu {
            li {
              &:first-child {
                margin-top: 25px;
              }
              &:last-child {
                margin-bottom: 10px;
              }
            }
          }
          > a {
            &:before {
              @include rotate(-180deg);
            }
          }
        }
        > a {
          &:before {
            content: '';
            position: absolute;
            top: 15px;
            right: 0;
            width: 21px;
            height: 15px;
            background: url('../img/svg/arrow-down.svg') center no-repeat;
            background-size: cover;
            @include transition(all .5s ease);
          }
        }
      }
      .sub-menu {
        display: none;

        li {
          padding-bottom: 0;
          margin-bottom: 5px;
          border-bottom: 0;
          @include transition(all .5s ease);

          a {
            font-size: 20px;
            border-bottom: 0;
            font-weight: 300;
            padding: 0;

            &:hover {
              color: darken(#fff, 30%);
            }
          }
        }
      }
      a {
        font-family: $font-family-second;
        display: block;
        position: relative;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 400;
        color: #fff;
        padding: 10px 0 8px;
        text-decoration: none !important;
      }
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 16;
  background: rgba(255,255,255,.8);
  pointer-events: none;
  @include transition(all .5s ease);
  @include opacity(0);

  &.show {
    pointer-events: all;
    @include opacity(1);
  }
}
.grid {
  &-block {
    padding-left: 0;
    padding-right: 0;
    height: 335px;
    position: relative;
    overflow: hidden;

    &:not(.static):hover {
      .thumbnail {
        @include opacity(0);
      }
    }
    &.video {
      &.play {
        .content {
          z-index: 3;
        }
        .play-icon {
          z-index: -1;
        }
      }
      .play-icon {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('../img/svg/play.svg') center no-repeat;
        background-size: 60px 60px;
        cursor: pointer;
        @include transition(all .5s ease);
      }
      .content {
        padding: 0;
        z-index: -1;
        @include transition(all .5s ease);

        iframe {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
    .thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      @include transition(opacity .5s ease);
      @include opacity(1);

      &-hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      img {
        max-width: none;
        min-height: 100%;
        min-width: 100%;
        width: auto;
      }
    }
    .content {
      padding: 27px 30px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 7;

      &.black {
        .title {
          color: #000;

          .description {
            color: #333;
          }
        }
        .description {
          color: #000;
        }
        .link {
          color: #000;

          &:before {
            background: #000;
          }
        }
      }
      .title {
        font-family: $font-family-second;
        text-transform: uppercase;
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;

        &.bottom {
          position: absolute;
          bottom: 70px;
          left: 30px;
          right: 30px;
        }
        .description {
          font-family: $font-family;
          display: block;
          text-transform: none;
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          margin-top: 6px;
          color: #dadada;
        }
      }
      .age {
        position: absolute;
        bottom: 30px;
        right: 30px;
        color: #fff;
        background: #22478A;
        border-radius: 50%;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
      }
      .link {
        position: absolute;
        bottom: 24px;
        left: 30px;
        right: 30px;
        font-size: 10px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        padding-left: 30px;
        margin: 0;

        &:before {
          content: '';
          position: absolute;
          top: 9px;
          left: 0;
          width: 20px;
          height: 1px;
          background: #fff;
        }
      }
    }
  }
  &-qa {
    width: calc(100% + 3px);
    margin: 1px 0 0 1px;

    .grid-block {
      border: 1px solid #DADADA;
      margin: -1px 0 0 -1px;
      overflow: inherit;

      &.question {
        border: 0;
      }
      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
      }
    }
    .grid-q {
      &.active {
        .answer-block {
          pointer-events: all;
          @include opacity(1);
        }
      }
      &.question {
        .answer-block {
          background: $main-color;
          width: calc(200% + 0.5px);
          height: calc(200% - 1px);

          &.bottom-right {
            top: 0;
            left: 0;
          }
          .title {
            color: #fff;
            border-bottom: 1px solid #3f5ea8;
            margin-bottom: 45px;
          }
          .icon-cross {
            color: #fff;
          }
          .btn {
            margin-top: 20px;
          }
        }
      }

      &:last-child,
      &:nth-last-child(2),
      &:nth-last-child(3),
      &:nth-last-child(4) {
        .answer-block {
          top: calc(-100% - 2px);
        }
      }
      @media (max-width: $screen-sm-max) {
        &:nth-last-child(3),
        &:nth-last-child(4) {
          .answer-block {
            top: -1px;
          }
        }
      }
      @media (max-width: $screen-xs-max) {
        &:last-child,
        &:nth-last-child(2) {
          .answer-block {
            top: -1px;
          }
        }
      }
    }
    .answer-block {
      cursor: default;
      position: absolute;
      background: #fff;
      width: calc(200% + 4.5px);
      height: calc(200% + 3px);
      padding: 40px 30px;
      border: 1px solid $main-color;
      z-index: 13;
      pointer-events: none;
      overflow: auto;
      @include opacity(0);
      @include transition(all .3s ease);

      &.bottom-right {
        top: -1px;
        left: -1px;
      }
      &.bottom-left {
        top: -1px;
        right: -1px;
      }
      .icon-cross {
        position: absolute;
        top: 30px;
        right: 30px;
        color: $main-color;
        cursor: pointer;
      }
      .title {
        font-size: 30px;
        line-height: 37px;
        font-weight: 500;
        color: $head-color;
        padding-bottom: 40px;
        border-bottom: 1px solid #DADADA;
        margin-bottom: 40px;
        padding-right: 10%;
      }
      .description {
        font-family: $font-family-second;
        font-size: 18px;
        color: #333;
      }
    }
    .content {
      &.black {
        .link {
          color: #9a9b9d;

          &:before {
            background: #9a9b9d;
          }
        }
      }
    }
  }
}
.sidebar {
  .info {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.product {
  &-description {
    min-height: 335px;
    position: relative;

    .thumbnail {
      position: absolute;
      top: 15%;
      right: 15%;
      margin-bottom: 25px;
    }
    .name {
      font-family: $font-family-second;
      font-size: 40px;
      font-weight: 500;
      margin: 0;
    }
    .tags {
      color: #9a9b9d;
      font-size: 20px;
    }
    .desc {
      position: absolute;
      bottom: 40px;
      left: 30px;
      max-width: 50%;
      font-weight: 500;
    }
  }
}
.chemistry {
  background: url('../img/chemistry.png') no-repeat;
  background-position: 30px 80%;
}
.download {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  display: block;
  font-size: 20px;

  &.link {
    text-align: left;
    padding: 0;

    span {
      color: $main-color;
    }
  }
  span {
    text-decoration: underline;
  }
}
.search{
  &-item {
    padding: 50px 0;
    border-top: 1px solid #DADADA;

    &:last-child {
      padding-bottom: 0;
    }
    .title {
      display: block;
      font-size: 24px !important;
      line-height: 31px;
      font-family: $font-family-second;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 15px !important;
      max-width: 75%;
      color: #000;

      &:hover {
        color: $main-color;
      }
    }
    .desc {
      max-width: 75%;
      margin: 0;
    }
  }
  &-block {
    max-width: 45%;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 30px;

    &.active {
      input {
        width: 100%;
        @include opacity(1);
      }
      .btn-search {
        left: 100%;
      }
    }
    input {
      border: 0;
      background: transparent;
      border-bottom: 1px solid #fff;
      padding: 2px;
      color: #fff;
      width: 0%;
      font-size: 14px;

      @include transition(all .4s ease);
      @include opacity(0);
      @include placeholder{
        color: #fff;
        font-size: 14px;
      };
    }
    .icon-search {
      color: #fff;
    }
    .btn-search {
      background: transparent;
      border: 0;
      padding: 0;
      position: absolute;
      top: -2px;
      left: -3%;
      @include transition(all .4s ease);
    }
  }
}
.form {
  &-control {
    margin-bottom: 30px;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    border-radius: 0;
    background: $main-color;
    padding: 10px 0;
    font-family: $font-family-second;
    font-size: 18px;

    @include placeholder{
      color: #fff;
      font-family: $font-family-second;
      font-size: 18px;
    };
    &:focus {
      outline: none;
      box-shadow: none;
      border: 0;
      border-bottom: 1px solid #fff;
    }
    &.max-50 {
      max-width: 50%;
    }
  }
}
